<h1>Gadget index</h1>

<%= form_tag "/gadgets/index" do %>
<input type="text" placeholder="name, description" name="search" value="<%= params[:search] %>">&nbsp;
<input type="submit" class="btn btn-primary" value="Search">
<% end %>


<%= link_to "Add gadget" , new_gadget_path, :class=>"btn btn-primary" %>
<table class="table table-bordered"> 
<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th># images</th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
<% @gadgets.each do |res| %>
	<tr>
		<td><%= res.name %></td>
		<td><%= res.description %></td>
		<td>
			<% res.gadget_images.each do |img| %>
			<%= link_to( image_tag(img.image.thumb,:width=>"50px;"), img.image.standard.url ) %>
			<% end %>
		</td>
		<td>
			<%= link_to "View" , gadget_path(res) %>&nbsp;&nbsp;
			<%= link_to "Edit" , edit_gadget_path(res) %>&nbsp;&nbsp;
			<%= link_to "Delete" , res , :method=>:delete, :title=>"Delete", :confirm=>"Delete gadget: #{res.name}?" %>&nbsp;
		</td>
	</tr>
<% end %>
</tbody>
</table>
<%# paginate @gadgets %>