<h1><%= @gadget.name %></h1>
<p><%= @gadget.description %></p>
<h2>Images</h2>
<% @gadget.gadget_images.each do |res| %>
		<%= link_to( image_tag(res.image.medium), res.image.standard.url ) %>
<% end %> 

<%= form_for @upload, :url=>"/gadgets/upload/#{@gadget.id}" do |f|%>
	<%= f.file_field :image %>
	<%= f.submit "Upload" %>
<% end %>

<%= link_to "Edit", edit_gadget_path(@gadget) %><br/>
<%= link_to "Back to index" , gadgets_path %>